/* intuitivnejší box-sizing */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(185, 75%, 39%);
    background: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg'), hsl(185, 75%, 39%);
    background-repeat: no-repeat, no-repeat;
    background-position: top -37.75rem left -47.125rem, bottom -37.625rem right -46.75rem;
    line-height: 1.4;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(0, 0%, 0%);
    font-size: 1rem;

    @media screen and (min-width: 376px) {
        background-position: top -31.625rem left -17.875rem, bottom -39.5rem right -14.5rem;
    }
}

.card {
    width: 20.375rem;
    border-radius: 15px;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 20px 2px hsla(229, 23%, 23%, 0.3);

    @media screen and (min-width: 376px) {
        width: 21.875rem;
    }

    &__header {
        border-radius: 15px 15px 0 0;
        background: url('../images/bg-pattern-card.svg');
        background-repeat: no-repeat;
        background-color: hsl(0, 0%, 100%);
        height: 8.75rem;
        position: relative;
    }

    &__photo {
        width: 6.5rem;
        height: 6.5rem;
        border: 4px solid white;
        border-radius: 50%;
        position: absolute;
        top: 5.5rem;
        left: 7.0625rem;

        @media screen and (min-width: 376px) {
            left: 7.8125rem;
        }
    }

    &__data {
        padding: 4.125rem 1.25rem 1.5rem 1.25rem;

        &--name, &--age {
            margin: 0.3125rem;
            font-size: 1.125rem;
        }
    
        &--name {
            color: hsl(229, 23%, 23%);
            font-weight: 700;
        }
    
        &--age {
            color: hsl(0, 0%, 59%);
        }
    
        &--location {
            margin: 0;
            font-size: 0.875rem;
            color: hsl(0, 0%, 59%);
        }
    }

    &__statistics {
        padding: 1.375rem 1.25rem 1.5rem 1.25rem;
        display: flex;
        justify-content: space-around;
        border-top: 2px solid hsl(330, 5%, 91%);
    }

    &__section {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &--count, &--title {
            margin: 0;
        }
        
        &--count {
            color: hsl(229, 23%, 23%);
            font-size: 1.125rem;
            font-weight: 700;
        }

        &--title {
            padding-top: 0.125rem;
            color: hsl(0, 0%, 59%);
            font-size: 0.625rem;
            font-weight: 700;
            letter-spacing: 0.1em;
        }
    }
}

.flex--row {
    display: flex;
    justify-content: center;
}